<div class="beer-item">
<% beer.forEach((beer) => { %>
<%- include('./partials/beer.ejs', { beer }) %> 
<% }) %>
  <div>This pairs good with<%- beer[0].food_pairing %></div>
  <div>The brewers tips for this beer are: <%- beer[0].brewers_tips %></div>
</div>
